<!-- Inhalt -->
<div class="container">
  <div class="inner cover">
    <h1 class="cover-heading">DATENSCHUTZ</h1>
    <p class="lead">Wenn Sie auf unsere Webseite zugreifen, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet Service Providers und Ähnliches. Hierbei handelt es sich ausschließlich um Informationen, welche keine Rückschlüsse auf Ihre Person zulassen. Diese Informationen sind technisch notwendig, um von Ihnen angeforderte Inhalte von Webseiten korrekt auszuliefern und fallen bei Nutzung des Internets zwingend an. Anonyme Informationen dieser Art werden von uns statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu optimieren.</p>
    <p class="lead">
      <a href="https://www.szut.de/datenschutz.html" class="btn btn-lg btn-default" target="_blank">Learn more</a>
    </p>
  </div>
</div>

