<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="start.component.css">
  <meta charset="UTF-8">
  <title>HiTec GmbH</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="https://asset.conrad.com/media10/isa/160267/c1/-/de/1614294_BB_00_LO/gebotsschild-ausrufezeichen-hygiene-und-abstand-folie-selbstklebend-100-mm-iso-7010-1-st.jpg?x=300&y=300" class="f" alt="Hinweis">
            <div>Um weitere Informationen zu einem Mitarbeiter/einer Mitarbeiterin zu bekommen, drücken Sie auf die entsprechende Zeile in der Tabelle.</div>
          </div>
          <div class="col-sm">
            <img src="https://asset.conrad.com/media10/isa/160267/c1/-/de/1614294_BB_00_LO/gebotsschild-ausrufezeichen-hygiene-und-abstand-folie-selbstklebend-100-mm-iso-7010-1-st.jpg?x=300&y=300" class="f" alt="Hinweis">
            <div>Um neue Daten zu hinterlegen, nutzen Sie den Button unten.</div>
          </div>
        </div>
      </div>

      <div id="search">
        <form class="form-inline">
          <p>Nach einem Mitarbeiter suchen: </p>
          <input  type="number" id="searchElement" placeholder="Geben Sie ID ein">
        </form>
        <button class="btn btn-primary" id="b1" (click)="showEmployee()">
          Suchen
        </button>
      </div>

      <div class="sub-chart">
        <div>
          <table class="table">
            <tbody>
            <tr *ngFor="let p of employeeById$ | async">
              <td>{{p.id}}</td>
              <td>{{p.firstName}}</td>
              <td>{{p.lastName}}<button class="btn btn-primary" routerLink="show-employee/{{p.id}}" id="showId">weitere Info</button></td>
            </tbody>
          </table>
        </div>
      </div>

      <div [style.visibility]="isNotFound">jhskfhek</div>

      <div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let people of employees$ | async">
            <td>{{people.id}}</td>
            <td>{{people.firstName}}</td>
            <td>{{people.lastName}}<button routerLink="show-employee/{{people.id}}">weitere Info</button></td>
          </tbody>
        </table>
      </div>

      <div claas="container">
        <button class="btn btn-primary" routerLink="add-new-employee">Mitarbeiter hinzufügen</button>
        <div><br></div>
      </div>

    </div>
    <div class="col">
    </div>
  </div>
</div>
