h2 {
  width: 100%;
  text-align:center;
  font-size: 48px;
}

button {
  margin-left: 15px;
}

.Button{
  color: black;
  width: 100%;
  text-align: center;
}

.form-control mr-sm-2{
  text-align:center;
}

p{
  margin-left: auto;
  margin-right: auto;
}

.sub-chart{
  text-align: center;
}
.f{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
#searchElement{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

div {
  margin-top: 15px;
  text-align: center;
}

#b1 {
  margin-top: 15px;
}




