<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="add-new-employee.component.css">
  <meta charset="UTF-8">
  <title>HiTec GmbH</title>
</head>
<body>

</body>
</html>
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <form [formGroup]="checkoutForm">
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3">
              <label class="ml-5">Vorname:</label>
            </div>
            <input type="text" class="form-control firstName" id="firstName" formControlName="firstName">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3">
              <label class="ml-5">Nachname:</label>
            </div>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3">
              <label class="ml-5">Straße:</label>
            </div>
            <input type="text" class="form-control" id="street" formControlName="street">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3">
              <label class="ml-5">Plz:</label>
            </div>
            <input type="text" class="form-control" id="zip" formControlName="postcode">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3">
              <label class="ml-5">Stadt:</label>
            </div>
            <input type="text" class="form-control" id="city" formControlName="city">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3">
              <label class="ml-5">Tel.:</label>
            </div>
            <input type="text" class="form-control" id="phone" formControlName="phone">
          </div>
        </div>
      </form>
        <div class="row">
          <button class="btn-primary col-sm m-1"  (click)="addData()">Hinzufügen</button>
          <button class="btn-primary col-sm m-1" routerLink="">Abbrechen</button>
        </div>
    </div>
  </div>
    <div class="col col-lg-2">
    </div>
  </div>
<div>


