<!-- Inhalt -->
<div class="container">
  <div class="inner cover">
    <h1 class="cover-heading">About</h1>
    <p class="lead"> Dies ist ein Projekt der FA20A.</p>
    <p>Gruppenmitglieder:</p>
    <p>Olga Richert, Viktoria Schrudde, Michelle Franke und Annalena Behrends</p>
  </div>
</div>
