<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="alert alert-danger" role="alert" id ="errorMsg" style="display: none;">
        {{errorMessage}}
      </div>

      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend col-3">
            <label class="ml-5">Vorname:</label>
          </div>
          <input readonly  type="text" class="form-control" value="{{ employee.firstName }}">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend col-3">
            <label class="ml-5">Nachname:</label>
          </div>
          <input readonly  type="text" class="form-control" value="{{ employee.lastName }}">
        </div><div class="input-group mb-3">
          <div class="input-group-prepend col-3">
            <label class="ml-5">ID:</label>
          </div>
          <input readonly  type="text" class="form-control" value="{{ employee.id }}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend col-3">
            <label class="ml-5">Straße:</label>
          </div>
          <input readonly  type="text" class="form-control" value="{{ employee.street }}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend col-3">
            <label class="ml-5">Plz:</label>
          </div>
          <input readonly  type="text" class="form-control" value="{{ employee.postcode }}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend col-3">
            <label class="ml-5">Stadt:</label>
          </div>
          <input readonly  type="text" class="form-control" value="{{ employee.city }}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend col-3">
            <label class="ml-5">Tel.:</label>
          </div>
          <input readonly  type="text" class="form-control" value="{{ employee.phone }}">
        </div>
      </div>

      <div>
        <div class = "row">
          <button id = "loeschen" class="btn-primary col-sm m-1" (click)="openDelete()">Löschen</button>
          <button id = "bearbeiten" class="btn-primary col-sm m-1" routerLink="">Bearbeiten</button>
          <button class="btn-primary col-sm m-1" routerLink="">Zur Startseite</button>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>

